.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Ubuntu";

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
}

.loading {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50vh;
  font-family: "Ubuntu";
  font-size: 3vh;
  color: rgba(59, 0, 91, 1);
}

.container span {
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  color: rgba(59, 0, 91, 1);
}

.container .span {
  font-size: 2.2vh;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flagContainer {
  width: 100%;
  height: 300px;
  margin: 2vh 0 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  padding: 5% 0 5%;
  background-color: rgba(255, 255, 255, 0.233);
  border: 2px solid rgba(46, 0, 91, 0.5);
  border-radius: 20px;
}

.flag {
  user-select: none;
  border: 2px solid black;

  height: 300px;
  object-fit: fill;
  animation: flagAnimation 1s linear infinite;
}

@keyframes flagAnimation {
  from {
    filter: drop-shadow(-15px 5px 3px rgba(59, 0, 91, 1));
  }
  50% {
    filter: drop-shadow(-10px 5px 3px rgba(59, 0, 91, 1));
  }
  to {
    filter: drop-shadow(-15px 5px 3px rgba(59, 0, 91, 1));
  }
}

.ovni {
  user-select: none;
  position: absolute;
  top: 0;
  animation: ovniAnimation 0.3s infinite;
}

@keyframes ovniAnimation {
  from {
    filter: drop-shadow(0 3px 3px rgb(80, 218, 85));
  }
  to {
    filter: drop-shadow(0 40px 40px rgb(80, 218, 85));
  }
}

.ovniHidden {
  display: none;
}

.activities {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mapContainer {
  position: relative;
  display: none;
}

.icon {
  width: 50px;
  height: 50px;
  filter: drop-shadow(-8px 5px 3px rgb(80, 218, 85));

  animation: iconAnimation 0.5s 1;
}

@keyframes iconAnimation {
  from {
    transform: scale(0);
  }

  40% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.button {
  position: absolute;
  top: 10%;
  right: 5%;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.buttonHide {
  display: none;
}

.map {
  animation: mapAnimation 0.5s 1, shadowAnimation 1s 0.5s infinite;
  width: 25vw;
  height: 25vw;
  border-radius: 5px;
  background-color: rgb(39, 204, 255);
}

@keyframes mapAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shadowAnimation {
  from {
    filter: drop-shadow(0px 0px 1px rgba(59, 0, 91, 1)) hue-rotate(270deg);
  }
  50% {
    filter: drop-shadow(0px 0px 5px rgba(59, 0, 91, 1)) hue-rotate(270deg);
  }

  to {
    filter: drop-shadow(0px 0px 1px rgba(59, 0, 91, 1)) hue-rotate(270deg);
  }
}

.mapHide {
  display: none;
}
