.container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52vh;
  width: 50vw;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: 500px;
}

.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu";
  font-size: 2vh;
}

.countryContainer {
  max-height: 300px;
  max-width: 600px;
  overflow-y: auto;
}

.buttonContainer {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 240px;
}

.button {
  z-index: 10;
  font-family: "Ubuntu";

  user-select: none;
  font-size: 2.5vh;
  border-style: hidden;
  color: rgb(80, 167, 218);
  border-radius: 10px;
  padding: 5px 10px 5px;
  background-color: rgb(0, 26, 91);
  cursor: pointer;

  animation: buttonAnimation 0.5s 1;
}

.button:hover {
  z-index: 10;
  transition: transform 0.2s;
  transform: scale(1.1);
}

.button:active {
  z-index: 10;
  transform: scale(0.95);
  color: rgb(122, 196, 239);
  filter: drop-shadow(0 0 5px rgb(80, 167, 218))
    drop-shadow(0 0 5px rgb(80, 167, 218))
    drop-shadow(0 0 5px rgb(80, 167, 218));
}

@keyframes buttonAnimation {
  from {
    transform: scale(0);
  }

  40% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.buttonHidden {
  z-index: 10;
  font-size: 2.5vh;
  color: rgb(80, 167, 218);
  border-radius: 10px;
  padding: 5px 10px 5px;
  background-color: rgb(0, 26, 91);

  transform: scale(0);
  animation: buttonAnimationHide 0.5s 1;
}

@keyframes buttonAnimationHide {
  from {
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(1.3);
  }

  to {
    transform: scale(0);
  }
}
