.bgImage {
  background-image: url("./images/countries.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 30px rgb(98, 80, 35))
    drop-shadow(0 0 5px rgb(98, 80, 35));
  width: 95vw;
  height: 95vh;
  overflow: visible;

  display: flex;
  align-items: flex-end;
}

.bgColor {
  display: flex;
  background-color: rgb(80, 167, 218);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.enter {
  width: 17vw;
  filter: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: rgb(55, 52, 53);
  transition: filter 1s;

  animation: enterButtonAnimation 1s infinite;
}

@keyframes enterButtonAnimation {
  from {
    filter: drop-shadow(0 2px 2px);
  }
  50% {
    filter: drop-shadow(0 5px 2px);
  }
  to {
    filter: drop-shadow(0 2px 2px);
  }
}

.enter:hover {
  animation: enterButtonPreAnimationHover 1s ease 0s 1,
    enterButtonAnimationHover 2s ease 1s infinite;
}

@keyframes enterButtonPreAnimationHover {
  from {
    filter: drop-shadow(0 5px 2px);
  }
  to {
    filter: drop-shadow(0 45px 2px);
  }
}

@keyframes enterButtonAnimationHover {
  from {
    filter: drop-shadow(0 45px 2px);
  }
  50% {
    filter: drop-shadow(0 35px 2px);
  }
  to {
    filter: drop-shadow(0 45px 2px);
  }
}

.button {
  position: absolute;
  bottom: 10vh;
  left: 2vw;
  animation: buttonAnimation 1s infinite;
}

@keyframes buttonAnimation {
  from {
    bottom: 10vh;
  }
  50% {
    bottom: 10.2vh;
  }
  to {
    bottom: 10vhvh;
  }
}

.button:hover {
  bottom: 10vh;
  animation: planeUpAnimationHover 1s ease 0s 1,
    planeButtonAnimationHover 2s ease 1s infinite;
}

@keyframes planeUpAnimationHover {
  from {
    bottom: 10vh;
  }
  to {
    bottom: 13.5vh;
  }
}

@keyframes planeButtonAnimationHover {
  from {
    bottom: 13.5vh;
  }
  50% {
    bottom: 12.5vh;
  }
  to {
    bottom: 13.5vh;
  }
}
